# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment files (faqat mahalliy)
.env
local.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Telegram session files
*.session
*.session-journal

